## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = '../Part01/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../Part01/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [6]:
print (app_train.shape)

(307511, 122)

#### 列出所有欄位

In [8]:
print (app_train.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [9]:
print (app_train.iloc[12:-12, 3: 9])

       CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
12               F            N               Y             0
13               M            Y               N             1
14               F            N               Y             0
15               M            Y               Y             0
16               M            N               N             0
17               F            N               Y             1
18               F            N               Y             0
19               F            N               Y             1
20               M            Y               Y             0
21               F            Y               Y             1
22               F            N               N             1
23               F            N               Y             0
24               M            Y               N             2
25               F            N               Y             0
26               F            N               Y             0
27               M            N               Y             1
28               M            Y               Y             0
29               M            N               Y             0
30               F            N               Y             0
31               F            N               Y             0
32               F            N               N             0
33               M            Y               N             1
34               F            N               Y             0
35               F            N               N             0
36               F            N               Y             2
37               M            N               Y             0
38               F            N               Y             0
39               M            Y               Y             0
40               M            N               Y             0
41               F            N               Y             0
...            ...          ...             ...           ...
307469           F            N               Y             0
307470           F            N               Y             0
307471           F            N               Y             2
307472           F            N               Y             1
307473           F            Y               Y             1
307474           M            Y               Y             2
307475           F            N               N             1
307476           F            N               N             2
307477           F            N               Y             0
307478           F            N               Y             0
307479           F            N               Y             1
307480           F            N               N             1
307481           M            N               Y             0
307482           F            Y               Y             0
307483           F            N               Y             0
307484           F            Y               N             0
307485           F            N               Y             1
307486           F            Y               Y             1
307487           M            N               Y             0
307488           F            N               N             0
307489           F            N               Y             0
307490           M            N               Y             0
307491           M            Y               Y             2
307492           M            Y               Y             0
307493           F            N               Y             0
307494           M            Y               N             1
307495           M            Y               N             0
307496           F            N               N             0
307497           F            Y               Y             0
307498           M            Y               Y             0

        AMT_INCOME_TOTAL  AMT_CREDIT
12               67500.0     80865.0
13              225000.0    918468.0
14              189000.0    773680.5
15              157500.0    299772.0
16              108000.0    509602.5
17               81000.0    270000.0
18              112500.0    157500.0
19               90000.0    544491.0
20              135000.0    427500.0
21              202500.0   1132573.5
22              450000.0    497520.0
23               83250.0    239850.0
24              135000.0    247500.0
25               90000.0    225000.0
26              112500.0    979992.0
27              112500.0    327024.0
28              270000.0    790830.0
29               90000.0    180000.0
30              292500.0    665892.0
31              112500.0    512064.0
32               90000.0    199008.0
33              360000.0    733315.5
34              135000.0   1125000.0
35              112500.0    450000.0
36              198000.0    641173.5
37              121500.0    454500.0
38               99000.0    247275.0
39              180000.0    540000.0
40              202500.0   1193580.0
41              202500.0    604152.0
...                  ...         ...
307469          202500.0    703728.0
307470           90000.0    270000.0
307471          112500.0    592560.0
307472          135000.0    808650.0
307473           90000.0    258709.5
307474          135000.0    360000.0
307475          144000.0   1303200.0
307476          135000.0   1762110.0
307477          360000.0    796396.5
307478          225000.0   1125000.0
307479          112500.0    521280.0
307480           81000.0   1350000.0
307481          225000.0    297000.0
307482          225000.0    500566.5
307483           99000.0    247275.0
307484          540000.0    545040.0
307485          270000.0    180000.0
307486          292500.0    355536.0
307487          117000.0   1071909.0
307488          157500.0    135000.0
307489          225000.0    521280.0
307490           81000.0    135000.0
307491           90000.0   1078200.0
307492          585000.0   1575000.0
307493          135000.0    946764.0
307494          270000.0    479700.0
307495          180000.0    808650.0
307496          360000.0    337500.0
307497          180000.0    270126.0
307498          198000.0   1312110.0

[307487 rows x 6 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子